*.exe
*.dll
*.chm
!tools/innoextract.exe
!tools/x64dbg/**/*
!tools/vc_redist/**/*.exe
!tools/x64dbg_xp/olly110/OLLYDBG.EXE
__pycache__/
*.pyc
.venv/
*.log
.DS_Store
Thumbs.db
extracted/app/*.exe
extracted/app/*.chm
*.dmp
!analysis/aavbase/*.dmp
tools/x64dbg/*.zip
tools/x64dbg_xp/*.zip
